<p>
There was just a new sponsor inquiry on <a href="http://saintrock.org">SaintRock.org</a>!
</p>
<p>
Here are the details:
<ul>
  <li>Child Code: <%= @child_code %></li>
  <li>Full Name: <%= @full_name %></li>
  <li>Email: <%= @email %></li>
  <li>Tel: <%= @tel %></li>
  <li>Address: <%= @address %></li>
  <li>City: <%= @city %></li>
  <li>Province/State: <%= @prov_or_state %></li>
  <li>Postal Code: <%= @postal_code %></li>
  <li>Note: <%= @note %></li>
</ul>
