<div id="footer">
  <div id="footer-left">
    <div id="footer-links">
      <%= link_to '(C) 2007-2012 - Saint Rock Haiti Foundation', 'copyright' %>.
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'Home', '/' %>
      &nbsp;|&nbsp;
      <%= link_to 'Help', 'help' %>
      &nbsp; |&nbsp;
      <%= link_to 'Site Map', 'site-map' %>
      &nbsp; |&nbsp;&nbsp;
      <%= link_to 'Foundation Board', 'foundation-board' %>
      &nbsp; |&nbsp;
      <%= link_to 'Contact Us', 'contact-us' %>
    </div>
  </div>
  <div id="footer-right"></div>
</div>
