<div id="footer">
  <div id="footer-left">
    <div id="footer-links">
      <%= link_to '(C) 2007-2012 - Saint Rock Haiti Foundation', page_path('copyright') %>.
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'Home', page_path('') %>
      &nbsp;|&nbsp;
      <%= link_to 'Help', page_path('help') %>
      &nbsp; |&nbsp;
      <%= link_to 'Site Map', page_path('site-map') %>
      &nbsp; |&nbsp;&nbsp;
      <%= link_to 'Foundation Board', page_path('foundation-board') %>
      &nbsp; |&nbsp;
      <%= link_to 'Contact Us', page_path('contact-us') %>
    </div>
  </div>
  <div id="footer-right"></div>
</div>
